* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;

}

.head {
    display: flex;
    justify-content: space-between;
    background-color: rgb(134, 127, 127);
}

.icon a {
    font-size: 2rem;
    color: #2296F3;
}

.logo {
    font-size: 2rem;
    margin-left: 1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.navbar a {
    color: black;
}

.logo a {
    color: black;
}

span {
    color: #CDDC39;
}

.span {
    color: #2296F3;
}

.cover {
    width: 100%;
    height: 10rem;
}

input {
    font-size: 1.5rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    height: 2rem;
    width: 25rem;
    padding-left: 2rem;
    margin-top: 3rem;
}

button {
    width: 10rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: #CDDC39;
    cursor: pointer;
    border-color: #2296F3;
}

button:hover {
    background-color: #2296F3;
    border-color: #CDDC39;
    color: white;
}

.bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.reponse {
    padding-top: 1rem;
    margin-left: 4rem;
    background-color: rgb(134, 127, 127);
    border-radius: 0.5rem;
    height: 30rem;
    width: 70rem;
    margin-bottom: 1rem;
    cursor: pointer;
    padding-left: 2rem;
}
footer{
    background-color: rgb(185, 179, 179);
    text-align: center;
    cursor: pointer;
}
footer p{
    font-size: 1.5rem;
}
h1{
    margin-left: 30rem;
}